<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
		<link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Alata|Bebas+Neue|Noto+Serif&display=swap" rel="stylesheet">
		{% endblock %}
        <!-- <meta http-equiv="refresh" content="5" /> -->
    </head>
   <body>


        <div class="container">
            <nav>
                <div class="nav_brand">
                    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        <a href="{{path('profil')}}" class="logo"><i class="far fa-comment-alt"></i>&nbsp;&nbsp;The Great Alumni</a>
                    {% else %}
                        <a href="{{path('app_login')}}" class="logo"><i class="far fa-comment-alt"></i>&nbsp;&nbsp;The Great Alumni</a>
                    {% endif %}
                </div>
                <div class="nav_lookup">
                    <input placeholder="Rechercher sur le site...">
                    <!-- <i class="fas fa-search"></i> -->
                </div>
                <div class="nav_menu">
                
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href=""><span>Administration</span></a>
                        {% endif %}
                    <a href="{{ path('news') }}"><span>Feed</span></a>
                    <a href=""><span>Forum</span></a>
                    <a href="{{ path('profil')}}"><span>Profil</span></a>
                    <a href="{{ path('app_logout') }}"><span>Déconnexion</span></a>
                    {% else %}
                    <a href="{{ path('signup')}}"><span>Inscription</span></a>
                    <a href="{{ path('app_login') }}"><span>Connexion</span></a>
                    {% endif %}
                </div>
            </nav>

                <a href=""><span>Feed</span></a>
                <a href=""><span>Forum</span></a>
                <a href=""><span>Profil</span></a>
                <a href="{{path('app_logout')}}"><span>Déconnexion</span></a>

                <a href="{{ path('signup')}}"><span>Inscription</span></a>
                <a href=""><span>Connexion</span></a>
            </div>
        </nav>
        <main>
            <div class="container__margeLeft"> </div>
            <div class="container__margeRight"> </div>
            <div class="container__title"> <h1>{% block content_title %}{% endblock %}</h1> </div>
            <div class="container__content">{% block content_body %}{% endblock %}</div>
        </main>
        <footer>
            <span class="logo">The Great Alumni</span>
            <p>This is a project that we had to make. Viva la coco!</p>
        </footer>
    </div>
</body>
</html>