{% extends 'base.html.twig' %}

{% block content_title %}
Compléter vos informations
{% endblock %}

{% block content_body %}
<h3>Veuillez entrer vos informations ci-dessous.</h3>

{{form_start(signupForm)}}

        <div class="__col  __col--half">
	<div class="input__container">
        {{form_label(signupForm.login,'Nom d\'utilisateur',{'label_attr': {'class': ''}})}}
        {{form_widget(signupForm.login)}}
        {{form_errors(signupForm.login)}}
        </div>
        
        <div class="__col  __col--half">
        <div class="input__container">
        {{form_label(signupForm.email,'Email')}}
        {{form_widget(signupForm.email)}}
        {{form_errors(signupForm.email)}}
        </div>
        </div>
        
        <div class="__col  __col--half">
        <div class="input__container">
        {{form_label(signupForm.name,'Nom')}}
        {{form_widget(signupForm.name)}}
        {{form_errors(signupForm.name)}}
        </div>
        </div>
        <div class="__col  __col--half">
        <div class="input__container">
        {{form_label(signupForm.nickname,'Prénom')}}
        {{form_widget(signupForm.nickname)}}
        {{form_errors(signupForm.nickname)}}
        </div>
        </div>

        <div class="__col  __col--half">
        <div class="input__container">
        {{form_label(signupForm.department,'Département')}}
        {{form_widget(signupForm.department)}}
        {{form_errors(signupForm.department)}}
        </div>
        </div>

        <div class="__col  __col--half">
        <div class="input__container">
        {{form_label(signupForm.promo,'Promotion')}}
        {{form_widget(signupForm.promo)}}
        {{form_errors(signupForm.promo)}}
        </div>
        </div>
        
                <div class="__col  __col--half">
        <div class="input__container">
        <h3>Passions</h3>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  ></script>
		
	
	<script>
	$(document).ready(function() {
        var max_fields      = 10; //maximum input boxes allowed
        var wrapper         = $(".input_fields_wrap"); //Fields wrapper
        var add_button      = $(".add_field_button"); //Add button ID
        
        var x = 1; //initlal text box count
                
                
        $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields){ //max input box allowed
                
                        //text box increment
                $(wrapper).append('<div><input type="text" name="hobbies[] placeholder="Passion""/><a href="#" class="remove_field">Supprimer</a></div>'); //add input box
                x++; 
                }
        });
        
        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        
                        e.preventDefault(); 
                        $(this).parent('div').remove(); 
                        x--;
        })
        });
	
	</script>
	<body>
     <div class="input_fields_wrap">
    <button class="add_field_button">Ajouter une passion</button>
    <div><input type="text" name="hobbies[]" placeholder="Passion" ></div>
	
     </div>
</body>
</div>
        </div>
         <div class="__col  __col--half">
        <div class="input__container">
        <h3>Ecole/formations</h3>
        <script>
	$(document).ready(function() {
        var max_fields      = 10; //maximum input boxes allowed
        var wrapper         = $(".input_fields_wrap2"); //Fields wrapper
        var add_button      = $(".add_field_button2"); //Add button ID
        
        var x = 1; //initlal text box count
                
                
        $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields){ //max input box allowed
                
                        //text box increment
                $(wrapper).append('<div><input type="text" name="school_curriculum[] placeholder="Ecole ou formation""/><a href="#" class="remove_field">Supprimer</a></div>'); //add input box
                x++; 
                }
        });
        
        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        
                        e.preventDefault(); 
                        $(this).parent('div').remove(); 
                        x--;
        })
        });
	
	</script>
	<body>
     <div class="input_fields_wrap2">
    <button class="add_field_button2">Ajouter une école ou une formation</button>
    <div><input type="text" name="school_curriculum[]" placeholder="Ecole ou formation"></div>
	
     </div>
</body>
</div>
        </div>


               <div class="__col  __col--half">
        <div class="input__container">
        <h3>Entreprises/Stages</h3>
        <script>
	$(document).ready(function() {
        var max_fields      = 10; //maximum input boxes allowed
        var wrapper         = $(".input_fields_wrap1"); //Fields wrapper
        var add_button      = $(".add_field_button1"); //Add button ID
        
        var x = 1; //initlal text box count
                
                
        $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields){ //max input box allowed
                
                        //text box increment
                $(wrapper).append('<div><input type="text" name="career[] placeholder="Entreprises ou un Stage""/><a href="#" class="remove_field">Supprimer</a></div>'); //add input box
                x++; 
                }
        });
        
        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        
                        e.preventDefault(); 
                        $(this).parent('div').remove(); 
                        x--;
        })
        });
	
	</script>
	<body>
     <div class="input_fields_wrap1">
    <button class="add_field_button1">Ajouter une Entreprises ou un Stage</button>
    <div><input type="text" name="career[]" placeholder="Entreprises ou un Stage"></div>
	
     </div>
</body>
</div>
        </div>


        <div class="__col  __col--half">
        <div class="input__container">
        {{form_label(signupForm.expression,'Expression')}}
        {{form_widget(signupForm.expression)}}
        {{form_errors(signupForm.expression)}}
        </div>
        </div>




        <div class="__col  __col--half">
        <div class="input__container">
        {{form_label(signupForm.password.first,'Mot de passe')}}        
        {{form_widget(signupForm.password.first)}}
        {{form_errors(signupForm.password.first)}}
        </div>
        </div>

        <div class="__col  __col--half">
			<div class="input__container">
        {{form_label(signupForm.password.second,'Répêtez le mot de passe')}}
        {{form_widget(signupForm.password.second)}}
        {{form_errors(signupForm.password.second)}}
        </div>
        </div>

        <div class="__col  __col--half">
			<div class="input__container">
        {{form_label(signupForm.gender,'Genre')}}
        {{form_widget(signupForm.gender)}}
        {{form_errors(signupForm.gender)}}
        </div>
        </div>

        <div class="__col  ">
			<div class="input__container input__containerButton">
        {{form_widget(signupForm.Valider)}}
        </div>
        </div>



{{form_end(signupForm)}}
{% endblock %}
 
       