{% extends 'base.html.twig' %}

{% block title %}Great Alumni
{% endblock %}

{% block body %}
<main>
	{{form_start(signupForm)}}

    	{{form_label(signupForm.login,'Nom d\'utilisateur')}}
        {{form_widget(signupForm.login)}}
        {{form_errors(signupForm.login)}}

        {{form_label(signupForm.email,'Email')}}
        {{form_widget(signupForm.email)}}
        {{form_errors(signupForm.email)}}

        {{form_label(signupForm.name,'Nom')}}
        {{form_widget(signupForm.name)}}
        {{form_errors(signupForm.name)}}

        {{form_label(signupForm.nickname,'Prénom')}}
        {{form_widget(signupForm.nickname)}}
        {{form_errors(signupForm.nickname)}}


        {{form_label(signupForm.department,'Département')}}
        {{form_widget(signupForm.department)}}
        {{form_errors(signupForm.department)}}


        {{form_label(signupForm.promo,'Promotion')}}
        {{form_widget(signupForm.promo)}}
        {{form_errors(signupForm.promo)}}


        {{form_label(signupForm.gender,'Genre')}}
        {{form_widget(signupForm.gender)}}
        {{form_errors(signupForm.gender)}}


        {{form_label(signupForm.password.first,'Mot de passe')}}
        {{form_widget(signupForm.password.first)}}
        {{form_errors(signupForm.password.first)}}


        {{form_label(signupForm.password.second,'Répêtez le mot de passe')}}
        {{form_widget(signupForm.password.second)}}
        {{form_errors(signupForm.password.second)}}

        {{form_end(signupForm)}}
	</main>

{% endblock %}
