{% extends 'base.html.twig' %}
{% block content_title %}Discussion avec {{user.name}}
{% endblock %}

{% block content_body %}

                <div class="__row messenger">
								    <a class="goBack_link" href="{{ path('showInfos',{'id': user.id}) }}">
						Vous discuttez avec {{user.name}} {{user.nickname}}</span>&nbsp;<div><img src="/images/avatar/{{ user.photo }}"></div>
					</a>

{% if content is defined %}



                    <div class="__col messenger_container">
					{% for n in content %}
						{% if n.id == app.user.id %}
							<div class="__col messenger_message messenger_message--out">
                            	<div class="messenger_message_content"><p>{{n.content}}</p><p class="messenger_message_date">{{n.sendDate|date("d/m/Y H:i")}}</p></div>
							    <div class="messenger_message_image"><img class="" src="/images/avatar/{{ app.user.photo }}"/>
							</div>
							
							{% else %}
							<div class="__col messenger_message messenger_message--in">
								<div class="messenger_message_image"><img class="" src="/images/avatar/{{ user.photo }}"/></div>
                            	<div class="messenger_message_content"><p>{{n.content}}</p><p class="messenger_message_date">{{n.sendDate|date("d/m/Y H:i")}}</p>
							</div>
						{% endif %}
                       		</div>
					{% endfor %}
                    </div>


{% endif %}

                    <div class="__row messenger_form">
						{{form_start(messageForm)}}
							<div class="messenger_form_textarea">{{form_row(messageForm.content)}}</div>
							<div class="messenger_form_btn">{{form_rest(messageForm)}}</div>
						{{form_end(messageForm)}}
                    </div>
                </div>

{% endblock %}
