{% extends 'base.html.twig' %}

{% block content_title %}
	{{app.user.name}}
	{{app.user.nickname}}
{% endblock %}

{% block content_body %}

	<div class="__row">
		<div class="__col ">
			<div
				class="input__containerButton">
				{# Formulaire Modification profil (photo et informations) #}
				{{form_start(editForm)}}
				<div class="container__img">

					<img class="profil__photo" onerror="this.onerror=null; this.src='/images/avatar/avatar.png'" src="/images/avatar/{{ app.user.photo }}"/>

					{{form_widget(editForm.photo)}}
					{{form_errors(editForm.photo)}}
				</div>
			</div>
		</div>
	</div>


	<div class="__row">
		<div class="__col  __col--half">
			<div class="input__container profile__name">
				{{form_label(editForm.name,' ')}}
				{{form_widget(editForm.name,{'attr':{'placeholder':'nom'}})}}
				{{form_errors(editForm.name)}}
			</div>
		</div>


		<div class="__col  __col--half">
			<div class="input__container profile__name">
				{{form_label(editForm.nickname,' ')}}
				{{form_widget(editForm.nickname,{'attr':{'placeholder':'prénom'}})}}
				{{form_errors(editForm.nickname)}}
			</div>
		</div>

		<div class="__col  __col--half">
			<div class="input__container ">
				{{form_label(editForm.login,' ')}}
				{{form_widget(editForm.login,{'attr':{'placeholder':'pseudo'}})}}
				{{form_errors(editForm.login)}}
			</div>
		</div>

		<div class="__col  __col--half">
			<div class="input__container ">
				{{form_label(editForm.email,' ')}}
				{{form_widget(editForm.email,{'attr':{'placeholder':'email'}})}}
				{{form_errors(editForm.email)}}
			</div>
		</div>

		<div class="__col  __col--half">
			<div class="input__container ">
				{{form_label(editForm.department,' ')}}
				{{form_widget(editForm.department,{'attr':{'placeholder':'département'}})}}
				{{form_errors(editForm.department)}}
			</div>
		</div>

		<div class="__col  __col--half">
			<div class="input__container ">
				{{form_label(editForm.promo,' ')}}
				{{form_widget(editForm.promo,{'attr':{'placeholder':'promotion'}})}}
				{{form_errors(editForm.promo)}}
			</div>
		</div>
		<div class="__col  __col--half">
			<div class="input__container ">
				{{form_label(editForm.expression,' ')}}
				{{form_widget(editForm.expression,{'attr':{'placeholder':'expression'}})}}
				{{form_errors(editForm.expression)}}
			</div>
		</div>

		<div class="__col  __col--half">
			<div class="input__container ">
				{{form_label(editForm.gender,' ')}}
				{{form_widget(editForm.gender,{'attr':{'placeholder':'sexe'}})}}
				{{form_errors(editForm.gender)}}
			</div>
		</div>
		{# Pour l'affichage hobbies #}
		<div class="__col  __col--half ">
			<div class="input__container ">
				<data class="hobbies-length" data-length="{{user.hobbie|length}}"></data>
				<data class="schoolCurriculum-length" data-length="{{user.schoolCurriculum|length}}"></data>
				<data class="career-length" data-length="{{user.career|length}}"></data>
				<h3>Passions</h3>
				<div class="input_fields_wrap">
					{% for item in user.hobbie %}
						{% if loop.index == 1 and user.hobbie|length == 10 %}
							<div>
								<input type="text" name="hobbies[]" placeholder="Passion" value="{{ item }}">
							</div>
						{% else %}
							<div>
								<input type="text" name="hobbies[]" placeholder="Passion" value="{{ item }}">
								<a href="#" class="remove_field">Supprimer</a>
							</div>
						{% endif %}
					{% endfor %}
					{% if user.hobbie|length < 10 %}
						<div>
							<input type="text" name="hobbies[]" placeholder="Passion" value="">
						</div>
					{% endif %}
				</div>
			</div>
		</div>


		{# Pour l'affichage Ecole/formations #}

		<div class="__col  __col--half">
			<div class="input__container">
				<h3>Ecole/formations</h3>
				<body>
					<div class="input_fields_wrap">
						{% for item in user.schoolCurriculum %}
							{% if loop.index == 1 and user.schoolCurriculum|length == 10 %}
								<div>
									<input type="text" name="school_curriculum[]" placeholder="Ecole ou formation" value="{{ item }}">

								</div>
							{% else %}
								<div>
									<input type="text" name="school_curriculum[]" placeholder="Ecole ou formation" value="{{ item }}">
									<a href="#" class="remove_field">Supprimer</a>
								</div>
							{% endif %}
						{% endfor %}
						{% if user.schoolCurriculum|length < 10 %}
							<div>
								<input type="text" name="school_curriculum[]" placeholder="Ecole ou formation" value="">
							</div>
						{% endif %}
					</div>
				</body>
			</div>
		</div>

		{# Pour l'affichage Entreprises #}
		<div class="__col  __col--half">
			<div class="input__container">
				<h3>Entreprises/Stages</h3>
				<body>
					<div class="input_fields_wrap">

						{% for item in user.career %}
							{% if loop.index == 1 and user.career|length == 10 %}
								<div>
									<input type="text" name="career[]" placeholder="Entreprises ou un Stage" value="{{ item }}">
								</div>
							{% else %}
								<div>
									<input type="text" name="career[]" placeholder="Entreprises ou un Stage" value="{{ item }}">
									<a href="#" class="remove_field">Supprimer</a>
								</div>
							{% endif %}
						{% endfor %}
						{% if user.career|length < 10 %}
							<div>
								<input type="text" name="career[]" placeholder="Entreprises ou un Stage" value="">
							</div>
						{% endif %}
					</div>
				</body>
			</div>
		</div>

		<div class="__col  ">
			<div class="input__container input__containerButton">
				{{form_widget(editForm.Modifier_le_profil)}}
			</div>
		</div>
		{{form_end(editForm)}}

	</div>
	<div
		class="__row">
		{# Formulaire modification mot de passe #}
		{{form_start(pwdForm)}}
		<div class="__col  __col--half">
			<div class="input__container">
				{{form_label(pwdForm.oldPassword,'Ancien mot de passe')}}
				{{form_widget(pwdForm.oldPassword)}}
				{{form_errors(pwdForm.oldPassword)}}
			</div>
		</div>
		<div class="__col  __col--half">
			<div class="input__container">
				{{form_label(pwdForm.password.first,'Nouveau mot de passe')}}
				{{form_widget(pwdForm.password.first)}}
				{{form_errors(pwdForm.password.first)}}
			</div>
		</div>
		<div class="__col  __col--half">
			<div class="input__container">
				{{form_label(pwdForm.password.second,'Confirmation du nouveau mot de passe')}}
				{{form_widget(pwdForm.password.second)}}
				{{form_errors(pwdForm.password.second)}}
			</div>
		</div>

		<div class="__col  ">
			<div class="input__container input__containerButton">
				{{form_widget(pwdForm.Modifier_le_mot_de_passe)}}
			</div>
		</div>
		{{form_end(pwdForm)}}
	</div>
	{% block javascript %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="{{asset('js/profil.js')}}"></script>
	{% endblock %}
{% endblock %}
