{% extends 'base.html.twig' %}

{% block content_title %}
	{{news.title}}
{% endblock %}

{% block content_body %}

	<div class="article__container--content">
		<p>{{news.content}}</p>
	</div>
	<img src="/images/news/{{news.media}}"/>
	<div class="article__container--links">
	<input type="hidden" id="voteState" value="{{voted}}"/>
	{{form_start(scoreForm,{'attr': {'id': 'score_form'}})}}
		<div id="voteDIV">
			<span id="starA" class="fa fa-star"></span>
			<span id="starB" class="fa fa-star"></span>
			<span id="starC" class="fa fa-star"></span>
			<span id="starD" class="fa fa-star"></span>
			<span id="starE" class="fa fa-star"></span>
		</div>
	{{form_end(scoreForm)}}
	{% if note is not null %}
		<input type="hidden" id="voteValue" value="{{note}}"/>
	{% else %}
		<input type="hidden" id="voteValue" value=""/>
	{% endif %}
		{% if  news.author == app.user or  is_granted('ROLE_ADMIN')  %}
			<a href="{{ path('news_edit',{id: news.id, news: news})}}">
				<button>modifier</button>
			</a>
			<a href="{{ path('news_del',{id: news.id, news: news})}}">
				<button>supprimer</button>

			</a>
		{% endif %}
	</div>
	
	<div class="__row">
		<div class="comment__section __col">
			<div class="comment__section__form">
				{{form_start(commentForm)}}
					<div class="__col input__container">
						{{form_label(commentForm.content,'Laisser un commentaire:')}}
						{{form_widget(commentForm.content,{'attr':{'class':'textarea__comment'}})}}
						{{form_errors(commentForm.content)}}
						{{form_widget(commentForm.submit,{'label': 'Commenter','attr': {'class': 'button__comment'}})}}
					</div>
				{{form_end(commentForm)}}
			</div>
			<div class="comment__section__list">
				{% for c in comments %}
					<div class="comment__section__list_unity __row">
						<div class="__col __col--third comment__section__list_unity_profil">
							{% if c.author.photo is null %}
								<div><img class="" src="{{asset('images/avatar/avatar.png')}}"/></div>
							{% else %}
								<div><img class="" src="{{asset('images/avatar/'~c.author.photo)}}"/></div>
							{% endif %}
								<span class="comment__section__list__unity__profil__name">{{c.author.login}}</span>
								<span class="comment__section__list__unity__profil__date">{{c.date|date("d/m/Y H:i:s")}}</span>
						</div>
						<div class="__col __col--twoThird comment__section__list_unity_content">
							<p>{{c.content}}</p>
							<div>
								{% if c.author == app.user or is_granted('ROLE_ADMIN') %}
									<a class="" href="{{ path('comment_del',{id: c.id, comment: c})}}">
										<span>Supprimer</span>
									</a>
									{% else %}
									<a class="" href="">
										<span>Signaler</span>
									</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	{% block javascript %}

		<script src="{{asset('js/newsVote.js')}}"></script>

	{% endblock %}
{% endblock %}
