{% extends 'base.html.twig' %}

{% block content_title %}
	{{news.title}}
{% endblock %}

{% block content_body %}

	<div class="article__container--content">
		<p>{{news.content}}</p>
	</div>
	<img src="/images/news/{{news.media}}"/>
	<div class="article__container--links">

		{% if  news.author == app.user or  is_granted('ROLE_ADMIN')  %}
			<a href="{{ path('news_edit',{id: news.id, news: news})}}">
				<button>modifier</button>
			</a>

			<a href="{{ path('news_del',{id: news.id, news: news})}}">
				<button>supprimer</button>

			</a>

		{% endif %}

	</div>
	<input type="hidden" id="voteState" value="{{voted}}"/>
	{{form_start(scoreForm,{'attr': {'id': 'score_form'}})}}

	<div class="__col __col--third">
		<div id="voteDIV">
			<span id="starA" class="fa fa-star"></span>
			<span id="starB" class="fa fa-star"></span>
			<span id="starC" class="fa fa-star"></span>
			<span id="starD" class="fa fa-star"></span>
			<span id="starE" class="fa fa-star"></span>
		</div>
	</div>
	{{form_end(scoreForm)}}
	{% if note is not null %}
		<input type="hidden" id="voteValue" value="{{note}}"/>
	{% else %}
		<input type="hidden" id="voteValue" value=""/>
	{% endif %}

	{{form_start(commentForm)}}
	<div class="__col  __col--half">
		<div class="input__container">

			{{form_label(commentForm.content,'Laisser un commentaire')}}
			{{form_widget(commentForm.content)}}
		</div>
	</div>
	<div class="__col  __col--half"></div>
	<div class="input__container input__containerButton">

		{{form_widget(commentForm.submit,{'label': 'Commenter'})}}
	</div>
	{{form_end(commentForm)}}
	<div class="__col">
		<div class="comment__section__container">
			{% for c in comments %}
				<div class="__col __col--half comment__container">
					<div class="__row">
						<div class="__col __col--third">
							{% if c.author.photo is null %}
							<img style='vertical-align:middle;' class="com__pic" src="{{asset('images/avatar/avatar.png')}}"/>
							{% else %}
							<img style='vertical-align:middle;' class="com__pic" src="{{asset('images/avatar/'~c.author.photo)}}"/>
							{% endif %}
							<p style='display:inline;'><b>{{c.author.login}}</b></p>
						</div>
						<div class="__col __col--third">

							<p class=>{{c.date|date("d/m/Y H:i:s")}}</p>
						</div>
						<div class="__col __col--third">
							{% if c.author == app.user or is_granted('ROLE_ADMIN') %}
								<a class="suppress__com" href="{{ path('comment_del',{id: c.id, comment: c})}}">
									<p>supprimer</p>
								</a>
							{% endif %}
						</div>
						<p>{{c.content}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% block javascript %}

		<script src="{{asset('js/newsVote.js')}}"></script>

	{% endblock %}
{% endblock %}
